<div id="create-dog">
  <h2>create dog</h2>
  <form action="/create-dog" method="POST">
    <label for="input-name">Username</label>
    <input type="text" id="input-name" name="name" placeholder="Dog name" /><br>

    <label for="input-breed">Breed</label>
    <input type="text" id="input-breed" name="breed" placeholder="Dog breed" /><br>

    <label for="input-photo">photo</label>
    <input type="text" id="input-photo" name="photo" placeholder="Dog photo" /><br>

    <label for="input-age">Dog input age</label>
    <input type="number" id="input-age" name="age" placeholder="Dog age" /><br>

    <button type="submit">Create dog</button>

    {{!-- error message will be added here --}}
  </form>
</div>