<div id="login">
  <div class="d-flex justify-content-center py-3">
    <img src="images/doggologo.png" alt="login image" style="width: 400px;">
  </div>

  <form action="/login" method="POST" class="px-5">


    <div class="container">
      <div class="row">

        <div class="form-group col">
          <input type="text" class="form-control shadow rounded" id="input-username" name="username"
            placeholder="Your username">
        </div>

        <div class="form-group col">
          <input type="password" class="form-control shadow rounded" id="input-password" name="password"
            placeholder="********">
        </div>

      </div>
    </div>

    <div class="d-flex justify-content-center mt-3">
      <button type="submit" class="btn btn-warning shadow rounded" style="width: 250px;">log in</button>
    </div>

    {{!-- error message will be added here --}}
  </form>
   {{#if errorMessage}}
      <p class="error">{{errorMessage}}</p>
    {{/if}}
</div>