{{#unless notPartial}}
<nav>
  <a href='/home'>Home</a>
  {{#if currentUser}}
  <form action="/logout" method="POST">
    <button>Log Out</button>
  </form>
  <a href='/user-profile/{{currentUser._id}}'>Hello, {{currentUser.username}}</a>
  {{else}}
  <a href='/login'>Log in</a>
  <a href='/signup'>Sign up</a>
  {{/if}}
</nav>
<hr>
{{/unless}}