{{!-- <a href="/home">Parks</a>
<a href="/home/dogs">Dogs</a>
<a href="/home/users">Humans</a> --}}

<div class="container">
  <div class="btn-group shadow rounded" role="group" aria-label="Basic mixed styles example">
    <a href="/home" type="button" class="btn btn-warning">HOME</a>
    <a href="/home/dogs" type="button" class="btn btn-warning">DOGS</a>
    <a href="/home/users" type="button" class="btn btn-warning">HUMANS</a>
  </div>
</div>



{{!-- <div class="btn-group" role="group" aria-label="Basic mixed styles example">
  <a href="/home" type="button" class="btn btn-danger">HOME</a>
  <a href="/home/dogs" type="button" class="btn btn-danger">DOGS</a>
  <a href="/home/users" type="button" class="btn btn-danger">HUMANS</a>
</div> --}}