{{!-- HIDDEN INFO --}}
<p style="display: none" id="parkHomeAnonymous">park anonymous</p>

{{!-- MAP --}}
<div id='map' {{!-- class="container-fluid" --}}></div>
<div id="geocoder">
  <div id="geoBtn">
    <input id="address" type="textbox" />
    <input id="submit" type="button" class="btn btn-warning shadow rounded-pill" value="Find location" />
  </div>
</div>
</div>


{{!-- W/ SESSION --}}
{{#if currentUser}}
<a href="/parks/create-park" id="create-park-home" class="btn btn-warning shadow">Create park</a>
<a href="/parks" class="btn btn-warning shadow">View parks</a>
{{/if}}