{{!-- MAP --}}
<div id='map'></div>
<hr>
{{!-- W/ SESSION --}}
{{#if currentUser}}
{{!-- TABS --}}
{{> tabs}}
<hr>
<a href="/parks/create-park">Create park</a>
<hr>
{{!-- PARK LIST --}}
<h3>List Parks</h3>
{{#each parks}}
<div>
  <h3>{{name}}</h3>
  <a href="/parks/park/{{id}}">View</a>
</div>
{{/each}}
{{/if}}

<script src="https://maps.googleapis.com/maps/api/js?key={{process.env.GOOGLEMAPS_API}}"></script>
<script type="text/javascript" src="/javascripts/script.js"></script>