{{!-- MAP --}}



<div id='map' {{!-- class="container-fluid" --}}></div>
<div id="geocoder">
  <input id="address" type="textbox" />
  <input id="submit" type="button" value="Find location" />
  {{#if currentUser}}
  <div id="btnGroupMap">
    {{> tabs}}
  </div>
  {{/if}}
</div>
</div>


{{!-- W/ SESSION --}}
{{#if currentUser}}

<a href="/parks/create-park" id="btnGroupMap" class="btn btn-warning shadow">Create park</a>
<hr>
{{!-- PARK LIST --}}
<h3>List Parks</h3>
{{!-- <form action="/parks/search" method="GET"> --}}

  <div class="row justify-content-end pt-4">
    <div class="col-4">
      <input type="text" class="form-control" placeholder="Search" aria-label="Search" name="name">
    </div>
    <div class="col-4">
      <label>Location</label>
      <input type="text" class="form-control" aria-label="Search" name="addressSearch" placeholder="adress">
      <input type="text" class="form-control" aria-label="Search" name="latitude" placeholder="latitude">
      <input type="text" class="form-control" aria-label="Search" name="longitude" placeholder="longitude">
    </div>




    <div class="col-4 pb-4">
      <button type="submit" class="btn btn-warning">SEARCH</button>
    </div>
  </div>
  </div>







  {{#each parks}}
  <div>
    <h3>{{name}}</h3>
    <a href="/parks/park/{{id}}">View</a>
  </div>
  {{/each}}
  {{/if}}