{{!-- MAP --}}



<div id='map' {{!-- class="container-fluid" --}}></div>
<div id="geocoder">
  <div id="geoBtn">
    <input id="address" type="textbox" />
    <input id="submit" type="button" class="btn btn-warning shadow rounded-pill" value="Find location" />
  </div>
  {{#if currentUser}}
  <div id="btnGroupMap">
    {{> tabs}}
  </div>
  {{/if}}
</div>
</div>


{{!-- W/ SESSION --}}
{{#if currentUser}}

<a href="/parks/create-park" id="btnGroupMap" class="btn btn-warning shadow">Create park</a>
<hr>
{{!-- PARK LIST --}}
<h3>List Parks</h3>
<form action="/parks/search" method="GET" id="formSearch">

  <div class="row justify-content-end pt-4">
    <div class="col-4">
      <input id="name" type="text" class="form-control" placeholder="Search by name" aria-label="Search" name="name">
    </div>
    <div class="col-4">

      <input id="addressSearch" type="text" class="form-control" aria-label="Search" name="addressSearch"
        placeholder="adress">
      <input id="latitude" type="hidden" class="form-control" aria-label="Search" name="latitude"
        placeholder="latitude">
      <input id="longitude" type="hidden" class="form-control" aria-label="Search" name="longitude"
        placeholder="longitude">
    </div>




    <div class="col-4 pb-4">
      <button type="submit" class="btn btn-warning">SEARCH</button>
    </div>
  </div>
  </div>







  {{#each parks}}
  <div>
    <h3>{{name}}</h3>
    <a href="/parks/park/{{id}}">View</a>
  </div>
  {{/each}}
  {{/if}}