{{!-- MAP --}}
<div id='map'></div>
<div id="geocoder">
  <input id="address" type="textbox"/>
  <input id="submit" type="button" value="Geocode"/>
</div>
<hr>
{{!-- W/ SESSION --}}
{{#if currentUser}}
{{!-- TABS --}}
{{> tabs}}
<hr>
<a href="/parks/create-park">Create park</a>
<hr>
{{!-- PARK LIST --}}
<h3>List Parks</h3>
{{#each parks}}
<div>
  <h3>{{name}}</h3>
  <a href="/parks/park/{{id}}">View</a>
</div>
{{/each}}
{{/if}}

