{{!-- TABS --}}
{{> tabs}}

<h2>All Users</h2>
<form action="/home/users/search" method="GET">
  <label>
    Search User:
    <input type="text" name="username">
  </label>
  
  <button type="submit">SEARCH</button>
</form>

{{#each users}}

<h3>{{username}}</h3>
<a href="/user-profile/{{id}}">get to know this human</a>

{{/each}}