{{!-- TABS --}}
<div id="greyZone">

  <div id="btnGroup">
    {{> tabs}}
  </div>


  <div class="row justify-content-end">
    <div class="col-4">
      <input type="text" class="form-control" placeholder="Search" aria-label="Search" name="username">
    </div>
    <div class="col-4 pb-4">
      <button type="submit" class="btn btn-warning">SEARCH</button>
    </div>
  </div>
</div>




</form>

<div class="container-fluid">
  <div class="row">
    {{#each users}}

    <div class="p-5 col-xs-12 col-sm-6 col-md-4 col-lg-3">
      <img class="card-img-top" src="{{photo}}" alt="dog">
      <div class="card-body">
        <h5 class="card-title">{{username}}</h5>
        <p>has {{dogs.length}} dogs</p>
        <a href="/user-profile/{{id}}" class="btn btn-warning">get to know this human</a>
      </div>
    </div>

    {{/each}}
  </div>
</div>