<div id="create-dog">
  <h2>create dog</h2>
  <form action="/create-dog" method="POST" enctype="multipart/form-data">
    <label for="input-name">Username</label>
    <input type="text" id="input-name" name="name" placeholder="Dog name" /><br>

    <label for="input-breed">Breed</label>
    <input type="text" id="input-breed" name="breed" placeholder="Dog breed" /><br>

    <label for="input-photo">Photo</label>
    <input type="file" id="input-photo" name="photo" placeholder="Dog photo" /><br>

    <label for="input-age">Dog input age</label>
    <input type="number" id="input-age" name="age" placeholder="Dog age" /><br>

    <label>Address</label>
    <input type="text" name="latitude" placeholder="latitude">
    <input type="text" name="longitude" placeholder="longitude">

    <label for="input-sex">Choose sex</label>
    <select name="sex" id="sex">
      <option value="Male">Male</option>
      <option value="Female">Female</option>
    </select><br>


    <label for="input-size">Choose size</label>
    <select name="size" id="size">
      <option value="Small">Small</option>
      <option value="Medium">Medium</option>
      <option value="Large">Large</option>
    </select><br>


    <button type="submit">Create dog</button>

    {{!-- error message will be added here --}}
  </form>
</div>