{{!-- TABS --}}
{{> tabs}}
<hr>

<h2>All dogs</h2>
<form action="/home/dogs/search" method="GET">
  <label>
    Search Dog:
    <input type="text" name="name">
  </label>



  <label>Age range</label>
  <input type="number" name="minAge" value="0" max="25" min="0">
  <input type="number" name="maxAge" value="25" max="25" min="0">


  <label>Choose size</label>
  <select name="size" id="size">
    <option value="">Any</option>
    <option value="small">Small</option>
    <option value="medium">Medium</option>
    <option value="large">Large</option>
  </select><br>

  <button type="submit">SEARCH</button>
</form>

{{#each dogs}}
<h3>{{name}}</h3>
<a href="/dog/{{id}}">get to know this dog</a>
{{/each}}